:root {
  --basic-white: #ffffff;
  --basic-dark-white: rgba(248, 252, 254, 1);
  --basic-nav-gray: rgba(94, 93, 88, 0.6);
  --basic-grin: rgba(24, 207, 171, 1);
  --basic-nav-link-white: rgba(255, 255, 255, 0.6);
  --basic-blue: rgba(0, 203, 246, 1);
  --basic-dark-gray: rgba(212, 212, 212, 1);
  --basic-dark-blue: rgba(28, 42, 51, 1);
  --basic-light-black: rgba(78, 78, 78, 1);
  --basic-gray: rgba(113, 113, 113, 1);
  --basic-light-gray: rgba(119, 119, 119, 1);
  --basic-buy-gray: rgba(216, 216, 216, 1);
  --basic-work-gray: rgba(233, 237, 239, 1);
  --basic-work-dark-gray: rgba(78, 78, 78, 1);
  --basic-work-light-gray: rgba(138, 138, 138, 1);
  --basic-news-dark-grin: rgba(32, 62, 56, 1);
  --basic-reviews-gray: rgba(187, 187, 187, 1);
  --basic-footer-dark-blue: rgba(34, 53, 63, 1);
}
