.work {
  font-family: 'MontserratRegular';
  &__wraper {
    background-color: var(--basic-work-gray);
  }
  &__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: var(--basic-work-dark-gray);
    text-align: center;
    padding-top: 95px;
    margin-bottom: 95px;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 75px;
      height: 1px;
      background-color: var(--basic-grin);
    }
    &::after {
      left: 550px;
      top: 162px;
    }
    &::before {
      left: 540px;
      top: 158px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
  }
  &__link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: var(--basic-gray);
    padding: 10px 15px;
    border: 1px solid #dadada;
    &--first {
      padding: 10px 29px;
    }
  }
  &__focus-el > &__link {
    border: 2px solid #18cfab;
    padding: 9px 14px;
  }
  &__focus-el > &__link--first {
    padding: 9px 28px;
  }
  &__logo-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
  }
  &__item1-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: var(--basic-grin);
    text-transform: uppercase;
  }
  &__item1-name {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: var(--basic-light-gray);
  }
  &__logo-item1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
    &:hover {
      border-top: 3px solid rgba(24, 207, 171, 1);
      opacity: 1;
      transition: 0.4s;
    }
    & svg {
      margin: 45px 0 25px;
    }
  }
  &__svg1:hover &__svg1-path1,
  &__svg2:hover &__svg2-path1 {
    fill: #18cfab;
  }
  &__svg1:hover &__svg1-rect1,
  &__svg2:hover &__svg2-rect1 {
    stroke: none;
  }
  &__svg1:hover &__svg1-path2,
  &__svg2:hover &__svg2-rect2 {
    fill: var(--basic-white);
  }
  &__logo-item {
    position: relative;
    &:hover img {
      opacity: 0;
      transition: 0.4s;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
  }
  &__button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    background-color: var(--basic-grin);
    border-radius: 6px;
    padding: 10px 22px;
  }
  &__button-icon {
    padding-right: 15px;
  }
}

.hidden {
  display: none;
}
