.page__body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  display: flex;
  justify-content: center;
}

.slider {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slider__item {
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
}

.slider__btn {
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 130px;
}

.slider__item--show {
  opacity: 1;
  transition: 1s ease;
}
