@font-face {
  font-family: 'GilamBold';
  src: url('../fonts/GilamBold.woff') format('woff'),
    url('../fonts/GilamBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GilamBook';
  src: url('../fonts/GilamBook.woff') format('woff'),
    url('../fonts/GilamBook.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GilamExtraLight';
  src: url('../fonts/GilamExtraLight.woff') format('woff'),
    url('../fonts/GilamExtraLight.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GilamLight';
  src: url('../fonts/GilamLight.woff') format('woff'),
    url('../fonts/GilamLight.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GilamRegular';
  src: url('../fonts/GilamRegular.woff') format('woff'),
    url('../fonts/GilamRegular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GilamSemiBold';
  src: url('../fonts/GilamSemibold.woff') format('woff'),
    url('../fonts/GilamSemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
