*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.wraper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1690px;
}

.header {
  &__wraper {
    background-image: url(../img/headerBg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}
.nav {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    margin: 50px 0;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:last-child {
      border: solid 1px #d6af76;
    }
    & img {
      padding-left: 26px;
    }
  }
  &__burger {
  }
  &__phone {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: white;
    & span {
      color: #d6af76;
    }
  }
  &__button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding: 15px 25px 15px 8px;
  }
}
// .header__work {
// }
// .header__main-work {
// }
// .header__work-logo {
// }
// .header__work-link {
// }
// .header__work-list {
// }
// .header__work-item {
// }
// .header__full-work {
// }
// .header__full-header {
// }
// .header__full-list {
// }
// .header__full-item {
// }
// .header__logo {
// }
