.footer {
  font-family: 'MontserratRegular';
  &__wraper {
    background-color: var(--basic-footer-dark-blue);
  }
  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #aeaeae;
    padding: 48px 0;
  }
  &__link {
    color: var(--basic-grin);
  }
}
