*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.wraper {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'MontserratRegular';
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
}

.header {
  &__wraper {
    background-image: url(../img/bgHeader.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
  &__nav {
    background-color: var(--basic-nav-gray);
  }
  &__content {
    display: flex;
    justify-content: space-around;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--basic-nav-link-white);
    margin-right: 21px;
    letter-spacing: 1px;
    &:hover {
      color: var(--basic-grin);
      border-bottom: 2px solid #18cfab;
      padding: 34px 0 33px 0;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;
  }
  &__button1 {
    margin-right: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: var(--basic-grin);
    padding: 16px 25px;
    border-top: 5px solid #ffffff;
    border-radius: 6px;
  }
  &__button2 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border-top: 5px solid #ffffff;
    padding: 16px;
    border-radius: 6px;
  }
  &__search {
    width: 21px;
    height: 20px;
    background-color: #ffffff99;
    display: block;
    mask-image: url(../img/searchIcon.svg);
    &:hover {
      background-color: var(--basic-grin);
    }
  }
  &__item8:hover {
    border-bottom: 2px solid #18cfab;
    padding: 35px 0 33px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__item1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: var(--basic-white);
    width: 57px;
    height: 67px;
    background-image: url(../img/Logo.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
  }
  &__item2 {
    padding-left: 7px;
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 48px;
    color: var(--basic-white);
    & span {
      font-weight: bold;
      color: var(--basic-grin);
    }
  }
}

.slogan {
  padding-top: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--basic-white);
    & span {
      color: var(--basic-grin);
    }
  }
  &__text {
    margin-bottom: 129px;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: var(--basic-dark-gray);
  }
}

.page__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 22px 0;
}
