$main-text-color: rgba(78, 78, 78, 1);
$post-link-color: rgba(124, 124, 124, 1);
$post-text-color: rgba(92, 92, 92, 1);
$header-bg-color: rgba(0, 0, 0, 0.0001);
$header-active-color: rgba(87, 164, 164, 1);
$shots-bg-color: rgba(0, 0, 0, 0.03);
$footer-bg-color: rgba(0, 0, 0, 1);
$footer-heading-color: rgba(254, 254, 254, 1);
$footer-text-color: rgba(185, 185, 185, 1);
$rss-icon-color: rgba(248, 144, 46, 1);
$facebook-icon-color: rgba(57, 89, 159, 1);
$twitter-icon-color: rgba(69, 176, 227, 1);
$dribble-icon-color: rgba(217, 122, 176, 1);
$pinterest-icon-color: rgba(204, 33, 44, 1);
$burger-bg-color: rgba(245, 245, 245, 1);
$burger-bg-color-active: rgba(229, 229, 229, 1);
