@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-BoldItalic.woff') format('woff'),
    url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
}
